@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Be Vietnam", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-dark: #{$text-dark};
  --text-light: #{$text-light};
  --text-darker: #656565;
  --title: #{$title};
  --title-dark: #{$title-dark};
  --text-footer: #bebebe;
  --primary-button: #{$primary-button};
  --secondary-button: #{$secondary-button};
  --neutral-button: #{$neutral-button};
  --bg-footer: #{$bg-footer};
  --bg: #{$bg};
  --bg-dark: #{$bg-dark};
  --bg-light: #{$bg-light};
  --bg-navBorder: #dbdbdb;
  --transparent: #{$transparent};
}
.darkmode {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-dark: #{$text-light};
  --text-light: #{$text-dark};
  --text-darker: #8f8f8f;
  --title: #bae173;
  --title-dark: #{$title-dark};
  --primary-button: #{$primary-button};
  --secondary-button: #{$secondary-button};
  --neutral-button: #{$neutral-button};
  --bg-footer: #{$bg-footer};
  --bg: #{$bg-footer};
  --bg-dark: #{$bg-light};
  --bg-light: #252e21;
  --bg-navBorder: #242e21;
  --transparent: #{$transparent};
}
a {
  color: inherit;
  text-decoration: none;
}
button,
a.btn {
  padding: 15px 25px;
  border: none;
  background-color: #9cbd32;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
// Tripadvisor
#CDSRATINGWIDGET792 {
  width: 100%;
  padding: 6px 30px 0;
}
// Google translate
.goog-te-gadget {
  color: rgba(0, 0, 0, 0) !important;
  span {
    display: none;
  }
  .goog-te-combo {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    padding: 4px;
  }
}
html.translated-ltr {
  header {
    margin-top: 38px !important;
  }
}
// React-image-gallery
.image-gallery-content {
  background-color: #000;
  border-radius: 10px;
  &.fullscreen {
    top: 50%;
    transform: translateY(-50%);
  }
}
.image-gallery-image {
  width: 96% !important;
  margin-top: 10px;
  border-radius: 10px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px !important;
}
#aapningstider {
  position: relative;
  width: 100%;
  background-color: var(--bg-light);
  font-size: 11pt;
  color: var(--text-dark);
  border-bottom: 50px solid var(--bg);
  div {
    max-width: 900px;
  }
  figcaption {
    text-align: center;
  }
}
