@use 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Be Vietnam", sans-serif;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
a.btn {
  padding: 15px 25px;
  border: none;
  background-color: #9cbd32;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
// Tripadvisor
#CDSRATINGWIDGET792 {
  width: 100%;
  padding: 6px 30px 0;
}
// Google translate
.goog-te-gadget {
  color: rgba(0, 0, 0, 0) !important;
  span {
    display: none;
  }
  .goog-te-combo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 4px;
  }
}
html.translated-ltr {
  header {
    margin-top: 38px !important;
  }
}
// React-image-gallery
.image-gallery-content {
  background-color: #000;
  border-radius: 10px;
}
.image-gallery-image {
  width: 96% !important;
  margin-top: 10px;
  border-radius: 10px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px !important;
}
