@use 'variables';
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 5%;
    color: white;
    height: 60px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.7s;
    &.hidden {
      // transform: translateY(-60px);
      background-color: rgba(0, 0, 0, 0);
    }
    nav {
      display: flex;
      justify-content: center;
      a {
        position: relative;
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        transition: color 0.6s;
        &:not(:last-child) {
          margin-right: 24px;
        }
        &.active,
        &:hover {
          color: #bcf05d;
          &::after {
            width: 100%;
          }
        }
        &::after {
          content: "";
          width: 0;
          height: 2px;
          background-color: #bcf05d;
          position: absolute;
          left: 0;
          bottom: -2px;
          transition: width 0.5s;
        }
      }
    }
    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      .themeSwitcherIcon {
        padding: initial;
        background-color: rgba(0, 0, 0, 0);
        svg > path {
          &:first-of-type {
            transition: fill 0.6s, transform 1s;
          }
          transition: fill 0.6s, transform 1s cubic-bezier(0.5, -0.4, 0.2, 1.4);
          transform-origin: center center;
        }
        &:hover {
          svg > path {
            fill: #bcf05d;
          }
        }
        &.dark {
          svg > path:not(:first-of-type) {
            transform: rotate(720deg);
          }
          svg > path:first-of-type {
            transform: translateX(-4px) scaleY(1.3);
          }
        }
      }
      .facebookIcon {
        svg > path {
          transition: fill 0.6s;
        }
        &:hover {
          svg > path {
            fill: #bcf05d;
          }
        }
      }
      .burgerNav {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        width: 24px;
        height: 24px;
        padding: 0;
        display: none;
        &.active {
          span {
            transform: rotate(45deg) translate(5.5px, 4px);
            &:first-of-type {
              top: 12px;
              opacity: 0;
              transform: rotate(0deg) translate(0, 0);
            }
            &:last-of-type {
              bottom: 1px;
              top: auto;
              transform: rotate(-45deg) translate(7.5px, -6px);
            }
          }
        }
        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          left: 0;
          top: 4px;
          background-color: rgb(33, 41, 38);
          transition: all 0.5s;
          &:first-of-type {
            top: 12px;
          }
          &:last-of-type {
            bottom: 1px;
            top: auto;
          }
        }
      }
    }
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(33, 41, 38);

    .splash {
      color: white;
      position: relative;
      display: grid;
      grid-template-columns: 60% 40%;
      height: 100vh;
      width: 100%;
      align-items: center;
      background-color: rgb(58, 55, 52);
      .splashWrapper {
        position: relative;
        z-index: 2;
        width: 100%;
        padding-left: 7.5%;
        transform: translateY(20px);
        .titleWrapper {
          margin-bottom: 20px;
          font-weight: 700;
          .title {
            font-size: 3.5rem;
            line-height: 3.5rem;
          }
          p {
            margin-top: 10px;
            font-size: 1.4rem;
            a {
              position: relative;
              color: #bcf05d;
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: #bcf05d;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }
          }
        }
        .buttonWrapper {
          margin-top: 10px;
          a {
            margin: 8px;
            display: inline-block;
            &:first-child,
            &:last-child {
              margin-left: 0;
            }
            &:last-child {
              padding: 15px 50px;
              background-color: #fa731a;
            }
          }
        }
      }
      .slideshowWrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        & > div > div {
          position: absolute !important;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        & > div {
          opacity: 0;
          transition: opacity 1s;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .slideshowImage {
          position: relative;
          opacity: 1;
          width: 100%;
          height: 100%;
        }
      }
      .imageScroller {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        button {
          background-color: rgba(0, 0, 0, 0);
          color: rgba(0, 0, 0, 0);
          border: 2px solid white;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          padding: 0;
          margin: 5px 0;
          transition: background-color 0.4s;
          &.active {
            background-color: white !important;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
    & > div:not(.splash) {
      display: flex;
      padding: 30px 5%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      & > h1 {
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-bottom: 12px;
        color: #80c601;
      }
    }
    .aboutus {
      background-color: #dee2d5;
      text-align: center;
      p {
        margin-top: 12px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
    .menu {
      position: relative;
      background-color: #fff;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 300px;
        background-color: #dee2d5;
      }
      & > p {
        margin-bottom: 10px;
        background-color: #dee2d5;
        padding: 10px 20px;
      }
      a:not(.btn) {
        color: #fa731a;
      }
      a.btn {
        background-color: #4f4f4f;
      }
      .menuDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 70vw;
        margin: 20px 0;

        button {
          position: absolute;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0);
          &.menuPrevButton {
            left: 2%;
          }
          &.menuNextButton {
            right: 2%;
          }
        }
        div {
          margin-top: 0 !important;
        }
      }
      & > div:not(.menuDisplay) p {
        font-style: italic;
        color: #656565;
      }
      & > div {
        text-align: center;
        z-index: 1;
        div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          margin-top: 12px;
        }
      }
    }
    .parallaxSection {
      height: 200px;
      width: 100%;
      padding: 0 !important;
      position: relative;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &.bg1 {
        background-image: url(https://saigonexpress.no/images/1.jpg);
      }
      &.bg2 {
        background-image: url(https://saigonexpress.no/images/2.jpg);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(60, 130, 42, 0.75);
      }
    }
    .gallery {
      background-color: #dee2d5;
      padding-bottom: 50px !important;
      .galleryWrapper {
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 10px));
        grid-gap: 20px;
        height: auto;
        width: 100%;
        margin-top: 10px;
        & > div {
          width: 100%;
          border-radius: 10px;
          img {
            width: 100%;
          }
        }
      }
    }
    .contactus {
      position: relative;
      background-color: #dee2d5;
      padding: 130px 0 0 0 !important;
      &::before,
      &::after {
        content: "";
        position: absolute;
      }
      &::before {
        width: calc(50% - 230px);
        height: 210px;
        background-color: #f38339;
        top: 80px;
        left: 0;
        border-radius: 0 20px 0 0;
      }
      &::after {
        width: calc(50% - 130px);
        height: 270px;
        background-color: #bcf05d;
        top: 10px;
        right: 0;
        border-radius: 20px 0 0 0;
      }
      .infoWrapper {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 150px;
        width: 80%;
        max-width: 750px;
        .info {
          display: grid;
          grid-template-rows: 30% 25% 1fr 1fr 1fr;
          padding: 8px 0;
          width: 100%;
          height: 150px;
          text-align: center;
          background-color: white;
          svg {
            margin: 8px auto 0 auto;
            align-self: center;
          }
          h3 {
            color: #769e02;
          }
          p {
            font-size: 0.9rem;
          }
          &:first-of-type {
            border-radius: 20px 0 0 0;
          }
          &:last-of-type {
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 20px 0;
          }
        }
      }
    }
    .map {
      height: 300px;
      padding: 0 !important;
    }
  }

  .footer {
    width: 100%;
    height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202420;
    color: white;
    font-size: 0.85rem;
    & > div {
      width: 90px;
      right: 20px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      a.btn {
        margin-top: 5px;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 2px;
        background-color: #3a3a39;
        svg {
          transform: translateX(-15px);
        }
      }
    }
  }
}
/*





*/
@media all and (max-width: 880px) {
  body {
    .container.priority {
      .header {
        nav {
          flex-direction: column;
          height: 100vh;
          position: absolute;
          top: 0;
          color: #3d3d3d;
          right: 0;
          background-color: aliceblue;
          width: 80%;
          text-align: right;
          justify-content: flex-start;
          padding-top: 60px;
          transition: transform 0.7s ease-in-out;
          &::after {
            content: "";
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #dbdbdb;
          }
          & + .whitespace {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
            opacity: 1;
            pointer-events: all;
            transition: opacity 1s;
          }
          &.hidden {
            transform: translateX(105%);
            & + .whitespace {
              opacity: 0;
              pointer-events: none;
            }
          }
          a {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.6s;
            height: 40px;
            margin: 0;
            padding-right: 24px;
            &.active,
            &:hover {
              color: #bcf05d;
              &::after {
                width: 80%;
              }
            }
            &::after {
              content: "";
              width: 0;
              height: 100%;
              background-color: rgba(188, 240, 93, 0.35);
              position: absolute;
              border-radius: 50px 0 0 50px;
              right: 0;
              left: auto;
              bottom: -2px;
              transition: width 0.5s;
            }
          }
        }

        .icons {
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 15px;
          z-index: 3;
          &.dark {
            path {
              fill: rgb(33, 41, 38) !important;
            }
            span {
              background-color: rgb(33, 41, 38) !important;
            }
          }
          .burgerNav {
            display: block;
            span {
              background-color: #fff;
            }
          }
          .themeSwitcherIcon {
            padding: initial;
            background-color: rgba(0, 0, 0, 0);
            svg > path {
              fill: #fff;
              &:first-of-type {
                transition: fill 0.6s, transform 1s;
              }
              transition: fill 0.6s,
                transform 1s cubic-bezier(0.5, -0.4, 0.2, 1.4);
              transform-origin: center center;
            }
            &:hover {
              svg > path {
                fill: #bcf05d;
              }
            }
            &.dark {
              svg > path:not(:first-of-type) {
                transform: rotate(720deg);
              }
              svg > path:first-of-type {
                transform: translateX(-4px) scaleY(1.3);
              }
            }
          }
          .facebookIcon {
            svg > path {
              fill: #fff;
            }
          }
        }
      }

      .splash {
        .splashWrapper {
          .buttonWrapper {
            a {
              margin-left: 0;
            }
          }
        }
      }
      .menu {
        & > p {
          margin-bottom: 20px;
        }
        a.btn {
          padding: 12px 30px;
        }
        .menuDisplay {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 85vh;
          width: 70vw;
          margin: 20px 0;

          button {
            position: absolute;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0);

            &.menuPrevButton {
              left: -20px;
              svg {
                width: 16px;
                height: 22px;
              }
            }
            &.menuNextButton {
              right: -20px;
              svg {
                width: 16px;
                height: 22px;
              }
            }
          }
        }
        & > div:not(.menuDisplay) p {
          font-style: italic;
          color: #656565;
        }
        & > div {
          margin-top: 30px;
          div {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 10px;
          }
        }
      }
      .gallery {
        height: auto;
        .galleryWrapper {
          grid-template-columns: 100%;
          grid-template-rows: 1fr 1fr;
          grid-gap: 20px;
        }
      }
      .parallaxSection {
        height: 130px;
      }
      .contactus {
        padding: 0 !important;
        margin-top: -45px;
        &::before,
        &::after {
          width: 100%;
          left: 0;
          bottom: 130px;
          top: auto;
          left: auto;
        }
        &::before {
          bottom: 230px;
        }
        .infoWrapper {
          grid-template-columns: repeat(1, 1fr);
          height: 100%;
          transform: translateY(80px);
          .info {
            display: grid;
            grid-template-rows: 30% 25% 1fr 1fr 1fr;
            padding: 8px 0;
            width: 100%;
            height: 150px;
            text-align: center;
            background-color: white;
          }
        }
      }
      .footer {
        height: 150px;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 0.85rem;
        padding: 0 0 20px 20px;
        & > div {
          width: auto;
          top: 0;
          right: 5px;
          position: absolute;
          p {
            display: none;
          }
          a.btn {
            text-align: center;
            transform: scale(0.8);
            svg {
              transform: translateX(-8px);
              width: 16px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  body {
    .container.priority {
      .main {
        .splash {
          grid-template-columns: 100%;
          font-size: 9pt;
          .splashWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
            width: 85%;
            padding-left: 15px;
            transform: translateY(20%);
            .titleWrapper {
              margin-bottom: 30px;
              font-weight: 700;
              .title {
                font-size: 2.5rem;
                line-height: 2.5rem;
              }
              p {
                margin-top: 10px;
                font-size: 1rem;
                width: 80%;
              }
            }
            .buttonWrapper {
              margin-top: 30px;
              width: 70%;
              a {
                padding: 12px 30px;
                margin-right: 0;
                margin-left: 0;
                &:last-child {
                  padding: 12px 35px;
                  background-color: #fa731a;
                }
              }
            }
          }
          .imageScroller {
            top: 70%;
            z-index: 2;
            button {
              width: 15px;
              height: 15px;
            }
          }
        }
        .aboutus {
          font-size: 11pt;
        }
      }
    }
  }
}
