.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 5%;
    color: white;
    height: 60px;
    nav {
      display: flex;
      justify-content: center;
      a {
        &:not(:last-child) {
          padding-right: 5px;
        }
      }
    }
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(33, 41, 38);

    .splash {
      color: white;
      display: grid;
      grid-template-columns: 60% 40%;
      height: 100vh;
      width: 100%;
      align-items: center;
      background-color: rgb(58, 55, 52);
      padding: 0 10px;
      .splashWrapper {
        width: 100%;
        padding: 10px;
      }
    }
    & > div:not(.splash) {
      & > h1 {
        text-transform: uppercase;
        font-size: 1.6rem;
      }
    }
    .aboutus {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 800px;
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 800px;
    }
    .gallery {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 800px;
    }
    .contactus {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 800px;
    }
  }

  .footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;

    .logo {
      height: 1em;
      margin-left: 0.5rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
